# DataFrame search examples

In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame([[10, 10.1,10.2,10.3,10.3,10.3,10.4],
                   ["a", "b", "b", "c", "c", "d", "e"],
                   [ 1 ,  1,   1,   2,   2,   2,   2]],
                  index=['Temp', 'var1', 'var2']).T
df

   Temp var1 var2
0    10    a    1
1  10.1    b    1
2  10.2    b    1
3  10.3    c    2
4  10.3    c    2
5  10.3    d    2
6  10.4    e    2

In [8]:
# Get all unique values of one variable
df.Temp.unique()

array([10, 10.1, 10.2, 10.3, 10.4], dtype=object)

In [10]:
# Get unique values across all variables (all unique combinations)
df.drop_duplicates()

   Temp var1 var2
0    10    a    1
1  10.1    b    1
2  10.2    b    1
3  10.3    c    2
5  10.3    d    2
6  10.4    e    2

In [11]:
# Get all rows where Temp is 10.3
df[df.Temp == 10.3]

   Temp var1 var2
3  10.3    c    2
4  10.3    c    2
5  10.3    d    2

In [12]:
# or > 10.3
df[df.Temp > 10.3]

   Temp var1 var2
6  10.4    e    2

In [13]:
# compound search
df[(df.var1 == 'b') & (df.var2 == 1)]

   Temp var1 var2
1  10.1    b    1
2  10.2    b    1